@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@font-face {
  font-family: 'Pretendard Variable';
}

body {
  font-family: "Pretendard Variable", serif;
  background: white;
}
